body {
    background-color:greenyellow
}
a {
text-decoration: none;
color: red;
}

.alcim {
    padding: 20px;
    background-color: lightcoral;
    border-radius: 20px;
    outline: 1px solid black;
}
div {
    border-color: blue;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
